
<div class="container h-100 mt-5">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="Search...">
        <a href="#" class="search_icon">  <i class="material-icons" style="font-size: 35px;">
            search
            </i>   </a>
      </div>
    </div>
  </div>
<!-- <div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="material-icons" style="font-size: 35px;">
                                            search
                                            </i>                                    </div>
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
</div>                -->
<section class="row-section">
    <div class="container">
	    <div class="row">
		    <h2 class="text-center"><span>Top Companies Listing</span></h2>
	    </div>
	    <div class="col-md-10 offset-md-1 row-block">
	        <ul id="sortable">
	            <li><div class="media">
	            <div class="media-left align-self-center">
	                <img class="rounded-circle" src="https://images.theconversation.com/files/93616/original/image-20150902-6700-t2axrz.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1000&fit=clip">
	            </div>
	            <div class="media-body">
	                <h4>Google Inc</h4>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
	            </div>
	            <div class="media-right align-self-center">
	                <a href="#" class="btn btn-default">See our Employees</a>
	            </div>
	        </div></li>
	            <li><div class="media">
	            <div class="media-left align-self-center">
	                <img class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg">
	            </div>
	            <div class="media-body">
	                <h4>Microsoft Corporation</h4>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
	            </div>
	            <div class="media-right align-self-center">
	                <a href="#" class="btn btn-default">See our Employees</a>
	            </div>
	        </div></li>
	            <li><div class="media">
	            <div class="media-left align-self-center">
	                <img class="rounded-circle" src="https://www.multichannel.com/.image/t_share/MTU0MDYzODE5MTk5MDMwMzU0/aws-logojpg.jpg">
	            </div>
	            <div class="media-body">
	                <h4>Amazon Corporation</h4>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
	            </div>
	            <div class="media-right align-self-center">
	                <a href="#" class="btn btn-default">See our Employees</a>
	            </div>
	        </div></li>
	            <li><div class="media">
	            <div class="media-left align-self-center">
	                <img class="rounded-circle" src="https://www.veriday.com/wp-content/uploads/2019/02/Veriday_logo.png">
	            </div>
	            <div class="media-body">
	                <h4>Veriday Inc.</h4>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
	            </div>
	            <div class="media-right align-self-center">
	                <a href="#" class="btn btn-default">See our Employees</a>
	            </div>
	        </div></li>
	            <li><div class="media">
	            <div class="media-left align-self-center">
	                <img class="rounded-circle" src="http://www.uwindsor.ca/sites/all/themes/uwindsor_bootstrap/images/uwindsor_logo.svg">
	            </div>
	            <div class="media-body">
	                <h4>University of Windsor</h4>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
	            </div>
	            <div class="media-right align-self-center">
	                <a href="#" class="btn btn-default">See our Employees</a>
	            </div>
	        </div></li>
	        
	            
	        
	        </ul>
	    </div>
</div>
</section>
